$padding-general: 2rem;
$padding-card: .5rem;

$margin-link: .5rem;
$margin-card: .5rem;

$nombre-producto: 1.5rem;
$precio-producto: 1rem;


//las variables las tenemos que pensar, si se usan en mas de un lugar hacemos variables si no , de preferencia NO

 